{{ template "header" .}}
<div class="px-6">
  <p class="py-4 text-2xl semibold tracking-tight">To get in touch, email me at <a href="mailto:bozo@gmail.com">Bozo@gmail.com</a></p>
</div>
{{ template "footer" .}}
