<h1>FAQs</h1> 
<ul>
    <li>Q: Is there a free version?</li> 
    <li>A: Yes! We offer a free trial for 30 days on any paid plans</li>
    &nbsp 
    <li>Q: What are your support hours?</li> 
    <li>A: We support staff answering emails 24/7, though response times may be a bit slower on weekends</li>
    &nbsp
    <li>Q: How do I contact support?</li> 
    <li>A: Email us - <a href=/contact>Contact Page</a></li>
</ul>